* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(212, 190, 209);
    margin: 0;
    padding: 0;
}

.header {
    color: lightpink;
    background-color:lightpink;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    font-family: Marker Felt, fantasy;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    background-color: hotpink;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 20px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Marker Felt, fantasy;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: hotpink;
    text-decoration: underline;
}

.image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./pink_snake_print.jpg");
    background-size: cover;
    background-position: center;
}

.image_text {
    position: relative;
    text-align: center;
    color: lightpink;

}

.bottom-right {
    position: absolute;
    bottom: 35px;
    right:16px;
    background-color: hotpink;
    font-size: 48px;
    box-sizing: border-box;
    font-family: Marker Felt, fantasy;
    padding-left: 10px;
}

.content {
    margin-left: 10%;
    margin-right: 1%;
    margin-top: 0;
}

.about-me h2 {
    float: left;
    font-family: Marker Felt, fantasy;
    font-size: 45px;
}

.work h2 {
    float: left;
    font-family: Marker Felt, fantasy;
    font-size: 45px;
    padding: 11%;
    margin-left: -80px;
}


.contact-me h2 {
    float: left;
    font-family: Marker Felt, fantasy;
    font-size: 45px;
    padding: 11%;
    margin-left: -125px;
}


.float-right {
    float: center;
    padding-left: 15%;
    margin-left: 377px;
    line-height: 150%;
    text-align: left;
    font-size: 15px;
    border-left: 3px solid black;
}

.placeholder0 {
    padding: 5%;
    padding-bottom: 4px;
    float: right;
    border-left: 3px solid black;
}

.placeholder1 {
    padding: 5%;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 1px;
    float: right;
}

.placeholder2 {
    padding: 5%;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    float: right;
    border-left: 3px solid black;
}

.placeholder3 {
    padding: 5%;
    padding-top: 0px;
    padding-left: 0px;
    float: right;
}

.placeholder4 {
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 5%;
    float: right;
    border-left: 3px solid black;
}

.contact-me ul {
    float: right;
    padding: 2%;
    padding-top: 145px;
    padding-left: 26%;
    margin-right: -150px;
    font-size: 15px;
    border-left: 3px solid black;
}
.info {
    color:black;
}