* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Heading */
.header {
    color: white;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    font-family: Marker Felt, fantasy;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    background-color: rgb(85, 13, 25);
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 20px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Marker Felt, fantasy;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(85, 13, 25);
    text-decoration: underline;
}

#photo1 {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('./assets/images/Photo1rep.jpg');
    background-size: 100% 100%;
}

.image_text {
    position: relative;
    text-align: center;
    color: white;

}

.bottom-right {
    position: absolute;
    bottom: 35px;
    right:16px;
    font-size: 48px;
    font-family: Marker Felt, fantasy;
    padding-left: 10px;
}

.content {
    margin-left: 10%;
    margin-right: 1%;
    margin-top: 0;
}

/* About-me section*/
.about-me h2 {
    float: left;
    font-family: Marker Felt, fantasy;
    font-size: 45px;
}

/*Work Section*/
.work h2 {
    float: left;
    font-family: Marker Felt, fantasy;
    font-size: 45px;
    padding: 11%;
    margin-left: -80px;
}

/*Contact  Section*/
.contact-me h2 {
    float: left;
    font-family: Marker Felt, fantasy;
    font-size: 45px;
    padding: 11%;
    margin-left: -125px;
}

.resume h2 {
    float: left;
    font-family: Marker Felt, fantasy;
    font-size: 45px;
    padding: 11%;
    margin-left: -450px;
    padding-top: 250px;
}

.float-right {
    float: center;
    padding-right: 17%;
    padding-left: 15%;
    margin-left: 377px;
    line-height: 150%;
    text-align: left;
    font-size: 15px;
   
}

/*Links to work*/
.placeholder0 {
    width: 800px;
    height: 300px;
    padding: 5%;
    padding-bottom: 4px;
    float: right;
}

.placeholder1 {
    width:400px;
    height: 125px;
    padding: 5%;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    float: right;
}

.placeholder2 {
    width: 400px;
    height: 125px;
    padding: 5%;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    float: right;
}

/*Commented out until other work is displayed*/
/*.placeholder3 {
    width: 400px;
    height: 125px;
    padding: 5%;
    padding-top: 0px;
    padding-left: 0px;
    float: right;
}

.placeholder4 {
    width: 400px;
    height: 125px;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 5%;
    float: right;
    border-left: 3px solid black;
}*/

.contact-me ul {
    float: right;
    margin-right: 208px;
    font-size: 17px;
    padding-top: 4%;
}
.info {
    color:black;
    padding: 7px;
}

.resumefile {
    float: right;
    padding-top: 210px;
    margin-right: 300px;
}